# ReScript
*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock
/node_modules/
*.bs.js
*.mjs

# Custom test suite using a reference version and the compiled rescript output
/reftests/

# Some random lispy lisp files
*.relisp

# Run file
!run.mjs
